test_config: &test_config
  cmd:
    - aws --version
    - gitleaks version
    - go version
    - golangci-lint --version
    - migrate -version
    - mockgen -version
    - modd --version
    - rsync --version
    - swagger version

versions:
  "1.20":
    platforms:
      - linux/amd64
      - linux/arm64
    test_config: *test_config
    build_args:
      GITLEAKS_VERSION: 8.11.2
      GOLANGCILINT_VERSION: 1.52.2
      GOMODUPGRADE_VERSION: 0.4.0
      GOSWAGGER_VERSION: 0.26.1
      MIGRATE_VERSION: 4.14.1
      MOCKGEN_VERSION: 1.6.0
      MODD_VERSION: 0.8
      TESTFIXTURES_VERSION: 3.8.0
