version: 2
updates:
  # Global
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  # AWS
  - package-ecosystem: "docker"
    directory: "/aws"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "aws"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # awslnx-systemd
  - package-ecosystem: "docker"
    directory: "/awslnx-systemd"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "awslnx-systemd"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Azure
  - package-ecosystem: "docker"
    directory: "/azure"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "azure"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Bitcoind
  - package-ecosystem: "docker"
    directory: "/bitcoind"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "bitcoind"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Chrome
  - package-ecosystem: "docker"
    directory: "/chrome"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "chrome"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Cloudsploit
  - package-ecosystem: "docker"
    directory: "/cloudsploit"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "cloudsploit"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "npm"
    directory: "/cloudsploit"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "npm"
      - "cloudsploit"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # DIND
  - package-ecosystem: "docker"
    directory: "/dind"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "dind"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "pip"
    directory: "/dind"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "pip"
      - "dind"
  # Golang
  - package-ecosystem: "docker"
    directory: "/golang/1.17"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "golang"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/golang/1.18"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "golang"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/golang/1.19"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "golang"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  # Java
  - package-ecosystem: "docker"
    directory: "/java/11"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "java"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "docker"
    directory: "/java/17"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "java"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Node
  - package-ecosystem: "docker"
    directory: "/node"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "node"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Percy
  - package-ecosystem: "docker"
    directory: "/percy"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "percy"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "npm"
    directory: "/percy"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "npm"
      - "percy"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Php
  - package-ecosystem: "docker"
    directory: "/php/8.0"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "php"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/php/8.1"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "php"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  -   package-ecosystem: "docker"
      directory: "/php/8.2"
      schedule:
        interval: "weekly"
      labels:
        - "dependencies"
        - "docker"
        - "php"
      ignore:
        -   dependency-name: "*"
            update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Platformsh
  - package-ecosystem: "docker"
    directory: "/platformsh"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "platformsh"
  # Pynode
  - package-ecosystem: "docker"
    directory: "/pynode/3.8"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "pynode"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/pynode/3.9"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "pynode"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  # Python
  - package-ecosystem: "docker"
    directory: "/python/3.7"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/python/3.8"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/python/3.9"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/python/3.10"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/python/3.11"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  # Sonar
  - package-ecosystem: "docker"
    directory: "/sonar"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "sonar"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Tezosqa
  - package-ecosystem: "docker"
    directory: "/tezosqa"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "tezosqa"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
