version: 2
updates:
  # Global
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  # Ansible
  - package-ecosystem: "docker"
    directory: "/ansible"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "ansible"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "pip"
    directory: "/ansible/2.9"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "pip"
      - "ansible"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "pip"
    directory: "/ansible/2.10"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "pip"
      - "ansible"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "pip"
    directory: "/ansible/3"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "pip"
      - "ansible"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "pip"
    directory: "/ansible/4"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "pip"
      - "ansible"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # AWS
  - package-ecosystem: "docker"
    directory: "/aws"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "aws"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # awslnx-systemd
  - package-ecosystem: "docker"
    directory: "/awslnx-systemd"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "awslnx-systemd"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Azure
  - package-ecosystem: "docker"
    directory: "/azure"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "azure"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "pip"
    directory: "/azure"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "pip"
      - "azure"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Bitcoind
  - package-ecosystem: "docker"
    directory: "/bitcoind"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "bitcoind"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Chrome
  - package-ecosystem: "docker"
    directory: "/chrome"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "chrome"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Cloudsploit
  - package-ecosystem: "docker"
    directory: "/cloudsploit"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "cloudsploit"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "npm"
    directory: "/cloudsploit"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "npm"
      - "cloudsploit"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # DIND
  - package-ecosystem: "docker"
    directory: "/dind"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "dind"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "pip"
    directory: "/dind"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "pip"
      - "dind"
  # Golang
  - package-ecosystem: "docker"
    directory: "/golang/1.16"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "golang"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/golang/1.17"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "golang"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  # Java
  - package-ecosystem: "docker"
    directory: "/java/11"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "java"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "docker"
    directory: "/java/17"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "java"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Kubectl
  - package-ecosystem: "docker"
    directory: "/kubectl"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "kubectl"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Node
  - package-ecosystem: "docker"
    directory: "/node"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "node"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Percy
  - package-ecosystem: "docker"
    directory: "/percy"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "percy"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "npm"
    directory: "/percy"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "npm"
      - "percy"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Php
  - package-ecosystem: "docker"
    directory: "/php/7.3"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "php"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/php/7.4"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "php"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/php/8.0"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "php"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  # Platformsh
  - package-ecosystem: "docker"
    directory: "/platformsh"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "platformsh"
  # Pynode
  - package-ecosystem: "docker"
    directory: "/pynode/3.8"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "pynode"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/pynode/3.9"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "pynode"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  # Python
  - package-ecosystem: "docker"
    directory: "/python/3.6"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/python/3.7"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/python/3.8"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/python/3.9"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "python"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  # React native
  - package-ecosystem: "docker"
    directory: "/react-native"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "react-native"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Ruby
  - package-ecosystem: "docker"
    directory: "/ruby"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "ruby"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
  # Scoutsuite
  - package-ecosystem: "docker"
    directory: "/scoutsuite"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "scoutsuite"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "pip"
    directory: "/scoutsuite"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "pip"
      - "scoutsuite"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Sonar
  - package-ecosystem: "docker"
    directory: "/sonar"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "sonar"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  # Terraform
  - package-ecosystem: "docker"
    directory: "/terraform"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
      - "terraform"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
  - package-ecosystem: "pip"
    directory: "/terraform"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "pip"
      - "terraform"
