*/build.log
.idea
*.iml
.vscode

# Result of template processing
azure/Dockerfile
golang/Dockerfile
java/Dockerfile
php/Dockerfile
python/Dockerfile
pynode/Dockerfile
terraform/Dockerfile
tezosqa/Dockerfile
