*/build.log
.idea
*.iml
.vscode

# Result of template processing
aws/Dockerfile
awslnx-systemd/Dockerfile
azure/Dockerfile
golang/Dockerfile
java/Dockerfile
php/Dockerfile
python/Dockerfile
pynode/Dockerfile
scoutsuite/Dockerfile
terraform/Dockerfile
tezosqa/Dockerfile
