*/build.log
.idea
*.iml

# Result of template processing
ansible/Dockerfile
aws/Dockerfile
awslnx-systemd/Dockerfile
azure/Dockerfile
golang/Dockerfile
java/Dockerfile
php/Dockerfile
python/Dockerfile
pynode/Dockerfile
scoutsuite/Dockerfile
terraform/Dockerfile
ibm/Dockerfile
