[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0.2"
click = "==8.2.1"
python-on-whales = "==0.77.0"
gitpython = "==3.1.44"
pydantic = "2.11.5"

[dev-packages]

[requires]
python_version = "3.11"
