test_config: &test_config
  cmd:
    - terraform version
    - terragrunt --version
    - terraform-compliance --version
    - terraspace version
    - python --version
    - aws --version
    - git --version
    - infracost --version
    - az --version

versions:
  "1.1.5":
    build_args:
      TERRAFORM_VERSION: 1.1.5
      TERRAGRUNT_VERSION: 0.36.1
      INFRACOST_VERSION: 0.9.17
      TERRASPACE_VERSION: 1.1.5-1
    test_config: *test_config
