versions:
  "1":
    platforms: *base_platforms
    build_args:
      GLIBC_VERSION: 2.29-r0
      TRIVY_VERSION: "0.36.1"
      TASKFILE_VERSION: *TASKFILE_VERSION
    test_config:
      cmd:
        - aws --version
        - az version
        - docker --version
        - docker-compose --version
        - task --version
        - trivy --version
