test_config: &test_config
  cmd:
    - *ci_helper_test
    - node --version
    - npm --version
    - yarn --version
    - sass --version
    - modd --version
    - task --version

versions:
  "10":
    build_args:
      CI_HELPER_VERSION: *CI_HELPER_VERSION
      NODE_VERSION: 10.24.1
      NPM_VERSION: 6.14.5
      NVM_VERSION: 0.35.3
      MODD_VERSION: *MODD_VERSION
      TASKFILE_VERSION: *TASKFILE_VERSION
    test_config: *test_config
  "12":
    build_args:
      CI_HELPER_VERSION: *CI_HELPER_VERSION
      NODE_VERSION: 12.22.6
      NPM_VERSION: 6.14.5
      NVM_VERSION: 0.35.3
      MODD_VERSION: *MODD_VERSION
      TASKFILE_VERSION: *TASKFILE_VERSION
    test_config: *test_config
  "14":
    build_args:
      CI_HELPER_VERSION: *CI_HELPER_VERSION
      NODE_VERSION: 14.17.6
      NPM_VERSION: 6.14.5
      NVM_VERSION: 0.35.3
      MODD_VERSION: *MODD_VERSION
      TASKFILE_VERSION: *TASKFILE_VERSION
    test_config: *test_config
  "16":
    build_args:
      CI_HELPER_VERSION: *CI_HELPER_VERSION
      NODE_VERSION: 16.11.0
      NPM_VERSION: 8.0.0
      NVM_VERSION: 0.39.0
      MODD_VERSION: *MODD_VERSION
      TASKFILE_VERSION: *TASKFILE_VERSION
    test_config: *test_config
