test_config: &test_config
  volume: php:/tmp
  cmd:
    - php --version
    - composer --version
    - modd --version
    - php-cs-fixer --version
    - security-checker -help
    - php /tmp/test.php

build_args: &build_args
  APCU_VERSION: 5.1.21
  COMPOSER_VERSION: 2.1.14
  ICONV_VERSION: 1.15-r3
  MEMCACHED_VERSION: 3.1.5
  MODD_VERSION: *MODD_VERSION
  MUSL_VERSION: 1.2.2-r7
  PHP_CS_FIXER_VERSION: 3.4.0
  REDIS_VERSION: 5.3.5
  SECURITY_CHECKER_VERSION: 1.2.0
  SSH2_VERSION: 1.3.1
  XDEBUG_VERSION: 3.1.2

versions:
  "7.4":
    build_args: *build_args
    test_config: *test_config
  "8.0":
    build_args: *build_args
    test_config: *test_config
  "8.1":
    build_args: *build_args
    test_config: *test_config
