test_config: &test_config
  volume: php:/tmp
  cmd:
    - *ci_helper_test
    - php --version
    - composer --version
    - modd --version
    - php-cs-fixer --version
    - security-checker -help
    - php /tmp/test.php

build_args: &build_args
  APCU_VERSION: 5.1.21
  CI_HELPER_VERSION: *CI_HELPER_VERSION
  COMPOSER_VERSION: 2.1.9
  ICONV_VERSION: 1.15-r3
  MEMCACHED_VERSION: 3.1.5
  MODD_VERSION: *MODD_VERSION
  MUSL_VERSION: 1.2.2-r1
  PHP_CS_FIXER_VERSION: 3.2.1
  REDIS_VERSION: 5.3.4
  SECURITY_CHECKER_VERSION: 1.2.0
  SSH2_VERSION: 1.3.1
  XDEBUG_VERSION: 3.1.1

versions:
  "7.3":
    build_args: *build_args
    test_config: *test_config
  "7.4":
    build_args: *build_args
    test_config: *test_config
  "8.0":
    build_args: *build_args
    test_config: *test_config
